.advantages-effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages-effect {
    display: block;
  }

  .advantages-effect__grey {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
  }

  .advantages-effect__timer {
    width: 240px;
    height: 230px;
    position: relative;
    padding-left: 61px;
    padding-top: 100px;
  }

  .advantages-effect__hour {
    color: @like;

    font-size: 96px;
    font-weight: bold;
  }

  .advantages-effect__timer::before {
    content: "";
    position: absolute;
    width: 238px;
    height: 276px;
    background-image: url("../img/icon-timer.svg");
    background-size: 238px 276px;
    top: 15px;
    left: -2px;
  }

  .advantages-effect__timer::after {
    content: "";
    position: absolute;
    width: 172px;
    height: 172px;
    border: 15px solid @like;
    border-radius: 50%;
    top: 70px;
    left: 16px;
  }

  .advantages-effect__wrapper {
    width: 306px;
  }

  .advantages-effect__title {
    font-size: @f-s-30;
    line-height: 40px;
    margin: 0;
    margin-top: 50px;
    margin-right: 30px;
  }

  .advantages-effect__content {
    font-size: @f-s-14;
    line-height: 24px;
    margin: 0;
    margin-top: 5px;
  }

  .advantages-effect__link {
    font-size: @f-s-14;
    color: @like;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .advantages-effect {
    padding: 0;
    background-color: @grey;
  }

  .advantages-effect__grey {
    .container();
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }


  .advantages-effect__hour {
    font-size: 120px;
  }

  .advantages-effect__timer {
    width: 260px;
    height: 304px;
    padding-left: 90px;
    padding-top: 116px;
  }

  .advantages-effect__timer::before {
    width: 298px;
    height: 345px;
    background-size: 298px 345px;
    top: 9px;
    left: 10px;
  }

  .advantages-effect__timer::after {
    width: 223px;
    height: 223px;
    border: 15px solid @like;
    border-radius: 50%;
    top: 78px;
    left: 33px;
  }

  .advantages-effect__wrapper {
    width: 550px;
    padding-top: 47px;
    padding-left: 26px;
  }

  .advantages-effect__title {
    color: #000000;
    font-size: @f-s-30;
  }

  .advantages-effect__content {
    font-size: @f-s-18;
    line-height: 30px;
    margin-top: 19px;
    margin-bottom: 27px;
  }

  .advantages-effect__link {
    font-size: @f-s-18;
  }
}
