.advantages {
  padding: 0;
  padding-top: 15px;
  background-color: @white;
  color: @dark;
}

.advatages__questions {
  .container ();
  margin-top: 25px;
  font-size: @f-s-24;
  line-height: 30px;
  font-weight: lighter;
  text-align: center;
}

.advantages__wrapper-grey {
  width: auto;
  margin: 0;
  background-color: @grey;
}

.advantages__wrapper {
  .container ();
}

.advantages__list {
  width: 280px;
  list-style: none;
  padding: 105px 20px;
  padding-bottom: 298px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.advantages__item {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 22px;
}

.advantages__title {
  font-size: @f-s-18;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  color: #000000;
}

.advantages__description {
  font-size: @f-s-14;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
}

.advantages__item-mood::after {
  display: none;
}

.advantages__item-world::after {
  display: none;
}

.advantages__list::after {
  content: "";
  width: 157px;
  height: 275px;
  position: absolute;
  background-image: url("../img/iphone-screen-mobile@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }

  background-size: auto 320px;
  background-repeat: no-repeat;
  left: 80px;
  bottom: 0;
  z-index: -1;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: auto;
    padding-top: 50px;
  }

  .advatages__questions {
    font-size: @f-s-40;
    width: auto;
    line-height: 48px;
    padding: 0;
    margin: 0;
  }

  .advantages__wrapper {
    background-color: @grey;
    width: 660px;
    margin: 0 auto;
  }

  .advantages__list {
    margin: 0;
    margin-top: 90px;
    margin-left: auto;
    padding: 20px;
    width: 320px;
  }

  .advantages__item {
    text-align: left;
    margin-bottom: 27px;
  }

  .advantages__title {
    padding: 10px 0;
  }

  .advantages__list::after {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }

    background-size: 268px auto;
    width: 268px;
    height: 547px;
    left: -280px;
    top: -40px;
  }
}

@media (min-width: @desktop-width) {
  .advatages__questions {
    font-size: @f-s-50;
    line-height: 58px;
  }

  .advantages__wrapper {
    width: 960px;
  }

  .advantages__list {
    margin: 0;
    margin-top: 400px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__list::after {
    display: none;
  }

  .advantages__item {
    position: relative;
    width: 265px;
  }

  .advantages__item-mood::after {
    display: block;
    content: "";
    position: absolute;
    width: 277px;
    height: 382px;
    background-image: url("../img/iphone-screen-1-desktop@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
    }

    background-size: 292px 302px;
    background-repeat: no-repeat;
    left: -6px;
    bottom: 190px;
  }

  .advantages__item-world::after {
    display: block;
    content: "";
    position: absolute;
    width: 277px;
    height: 382px;
    background-image: url("../img/iphone-screen-2-desktop@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
    }

    background-size: 292px 302px;
    background-repeat: no-repeat;
    left: -1px;
    bottom: 190px;
  }

  .advantages__item-friends::after {
    display: block;
    content: "";
    position: absolute;
    width: 277px;
    height: 382px;
    background-image: url("../img/iphone-screen-3-desktop@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
    }

    background-size: 292px 302px;
    background-repeat: no-repeat;
    left: 2px;
    bottom: 190px;
  }

  .advantages__title {
    font-size: @f-s-30;
    line-height: 30px;
    text-align: center;
    padding: 15px;
  }

  .advantages__description {
    font-size: @f-s-18;
    line-height: 30px;
    padding: 10px 15px;
    text-align: center;
  }
}
