.footer-bottom {
  display: none;
}

.footer-bottom__social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 172px;
}

.footer-bottom__maker {
  font-size: @f-s-14;
  display: flex;
  width: 130px;
  justify-content: space-between;
}

.footer-bottom__maker-link {
  position: relative;
  margin-right: 32px;
}

.footer-bottom__maker-link::before {
  content: "";
  position: absolute;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 45px;
  top: 5px;
}

@media (min-width: @tablet-width) {
  .footer-bottom {
    display: block;
    width: auto;
    background-color: @white;
    margin-top: auto;
  }

  .footer-bottom__wrapper {
    display: flex;
    justify-content: space-between;

    .container();
    background-color: @white;
    padding: 37px 0;
  }

  .footer-bottom__logo {
    padding-left: 20px;
  }

  .footer-bottom__social {
    width: 180px;
  }

  .footer-bottom__maker {
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .footer-bottom {
    height: 197px;
  }

  .footer-bottom__wrapper {
    padding-top: 69px;
  }

  .footer-bottom__logo {
    padding-left: 10px;
  }

  .footer-bottom__social {
    padding-left: 10px;
    padding-top: 7px;
  }

  .footer-bottom__maker {
    width: 155px;
    font-size: @f-s-18;
    padding: 0;
    padding-right: 10px;
  }

  .footer-bottom__maker-link {
    top: 10px;
  }
}
