.footer-top {
  width: 100%;
  background-color: @white;
}

.footer-top__contacts {
  position: relative;
  width: auto;
  text-align: center;
  margin-top: 68px;
}

.footer-top__contacts::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-map-marker.svg");
  width: 36px;
  height: 35px;
  bottom: -143px;
  left: 141px;
}

.footer-top__title {
  font-weight: normal;
  font-size: @f-s-24;
  line-height: normal;
  color: @dark;
  text-align: center;
  background-color: @white;
  margin: 0;
  padding: 10px 0;
}

.footer-top__list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  background-color: @white;
}

.footer-top__item {
  font-size: @f-s-18;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

.footer-top__item p,
.footer-top__item a {
  color: @like;
  font-size: @f-s-24;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .footer-top {
    margin-bottom: 383px;
  }

  .footer-top__title {
    font-size: @f-s-40;
    line-height: 50px;
  }

  .footer-top__list {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    padding: 0;
  }

  .footer-top__item {
    width: 240px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 17px;
  }

  .footer-top__contacts {
    margin: 0;
    padding-top: 35px;
  }

  .footer-top__contacts::before {
    bottom: -231px;
    left: 312px;
  }
}

@media (min-width: @desktop-width) {
  .footer-top {
    margin-bottom: 500px;
  }

  .footer-top__list {
    width: 960px;
    margin: 0 auto;
  }

  .footer-top__title {
    font-size: @f-s-50;
    line-height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer-top__item {
    padding-top: 26px;
  }

  .footer-top__item p {
    margin-top: 20px;
  }
}
