.footer-bottom {
  display: none;
}

.footer-bottom__social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 172px;
}

.footer-bottom__maker {
  font-size: @f-s-14;
}

@media (min-width: @tablet-width) {
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    background-color: @white;
    height: 107px;
    padding: 36px 20px;
  }
}
