.main-img {
  padding: 0;
  margin: 0 auto;

  padding-top: 80px;

  z-index: 0;
}

.main-img__img-hand {
  position: relative;

  display: block;
  color: @white;
  height: 382px;
}

.main-img__img-hand::before {
  content: "";
  position: absolute;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 314px;
  top: 28px;
}

.main-img__title {
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  margin: 0 10px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .main-img {
    height: auto;
    margin: 0;

    width: 645px;
    display: flex;
    flex-direction: row;
  }

  .main-img__title {
    width: 240px;
    font-size: 40px;
    font-weight: normal;
    padding: 20px;
  }

  .main-img__img-hand {
    height: auto;
  }

  .main-img__img-hand::before {
    width: 660px;
    height: 500px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    top: -35px;
    left: -310px;
  }
}

@media (min-width: @desktop-width) {
  .main-img__img-hand::before {
    width: 900px;
    height: 545px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    top: -80px;
    left: -150px;
  }
}
