.main-photo {
  width: 320px;
  margin: 0;
  padding: 0;
}


.main-photo__title {
  color: @white;
  font-size: @f-s-24;
  font-weight: normal;
  margin-top: -175px;
  margin-bottom: 45px;
  text-align: center;
  padding: 35px 70px;
}
