.page-main {
  padding: 0;
  margin: 0;

  min-width: 320px;
  z-index: 0;
}

.page-main__wrapper {
  background-color: @dark;
  color: @white;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .page-main__wrapper {
    margin: 0;
  }
}
