.page-header {
  background-color: @dark;
  color: @white;
  margin: 0 auto;
  padding: 0;
  min-height: 66px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: auto;
    margin: 0;
  }
}
