.page-main {
  padding: 0;
  margin: 0;
  width: 320px;
}

.page-main__wrapper {
  background-color: @dark;
  color: @white;
  margin: 0 auto;
  padding: 0;


}
.main-img {


  padding: 0;
  margin: 0;
  margin-bottom: 100px;


}

.main-img__img-hand {
  position: relative;

  display: block;
  background-color: @dark;
  color: @white;
  background-repeat: repeat;
  background-position: top center;
  height: 396px;
  width: 320px;



}
.main-img__img-hand::before {
  content: "";
  position: absolute;
  background-image: url(../img/iphone-hand-mobile@1x.png);
  background-repeat: no-repeat;
  width: 320px;
  height: 314px;
  top: 28px;

}

.main-img__title {
  margin: 0;
  text-align: center;
  font-weight: normal;
  margin: 0 50px;
}
