.page-header {
  background-color: @black;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  color: @white;
  margin: 0;
  padding: 0;
  display: flex;
  width: 320px;
  padding-bottom: 170px;
}
.page-header__wrapper {
  background-color: @black;
  width: 280px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0;

}
.page-header__logo {
  width: 75px;
  height: 23px;
}
.main-nav__button {
  position: relative;

}
.main-nav__button::before {
  content: "";
  width: 50px;
  height: 24px;
  position: absolute;

  background-image: url(../img/icon-menu-burger.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 3px;
  right: 3px;

}
