.page-photo-footer__wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-photo-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 20px 0;
  padding: 0;
  width: 172px;
}

@media (min-width: @desktop-width) {
  .page-footer__contacts {
    min-width: 660px;
  }

  .page-footer__item {
    width: 240px;
    margin: 0 auto;
  }
}
