.rates {
  padding: 0;
  padding-top: 50px;
  margin: 0;
  background-color: @grey;
}

.rates__item {
  border: 2px solid @light-grey;
  width: 320px;
  border-collapse: collapse;
}
.rates__item__title-cell {
  border: 2px solid @light-grey;
  border-collapse: collapse;
  padding: 15px 8px;
  text-align: center;
}

.rates__item-cell {
  border: 2px solid @light-grey;
  border-collapse: collapse;
  background-color: @white;
  font-size: @f-s-14;
  font-weight: light;
  text-transform: uppercase;
  padding: 18px 12px;
}

.rates__item__title {
  background-color: @dark;
  color: @white;
}
.rates__item-name {
  font-size: @f-s-18;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 40px;
}
.rates__item-price {
  font-size: @f-s-24;
  font-weight: light;
  margin: 0 40px;
}
