.user-post {
  width: 300px;
  margin-bottom: 20px;
}

.user-post__img {
  padding: 0;
  margin: 0;
  display: block;
}

.user-post__wrapper {
  background-color: @grey;
  color: @dark;
  padding: 10px 18px;
  padding-bottom: 18px;
  margin: 0;
}

.user-post__author {
  font-size: @f-s-14;
  font-weight: bold;
  line-height: 24px;
}

.user-post__time {
  font-size: @f-s-12;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;
}

.user-post__content {
  font-size: @f-s-14;
  font-weight: normal;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.user-post__like {
  font-size: @f-s-12;
  font-weight: normal;
  line-height: 24px;
  color: @like;
  text-transform: uppercase;
  padding-left: 35px;
}

@media (min-width: @tablet-width) {
  .user-post__img {
    width: 300px;
    height: 300px;
  }

  .user-post__wrapper {
    width: 264px;
    height: 127px;
  }
}

@media (min-width: @desktop-width) {
  .user-post__img {
    width: 300px;
    height: 400px;
  }
}
