.user-photo__title {
  font-size: @f-s-14;
  font-weight: normal;
  color: @dark;
  line-height: 30px;
  text-align: center;
  padding: 40px;
  margin: 0;
}

.user-photo__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .user-photo__title {
    font-size: @f-s-18;
  }

  .user-photo__list {
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .user-photo__list {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
  }
}
