
.user-photo {
  .container();
}

.user-photo__title {
  font-size: @f-s-14;
  font-weight: normal;
  color: @dark;
  line-height: 30px;
  text-align: center;
  padding: 40px;
  margin: 0;
}

.user-photo__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .user-photo__title {
    font-size: @f-s-18;
  }

  .user-photo__list {
    display: flex;
    flex-wrap: wrap;
  }

  .user-photo__item {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .user-photo__list {
    display: flex;
    flex-wrap: wrap;
  }
}
