.button {
  display: block;
  width: 250px;
  height: 25px;
  text-align: center;
  padding: 12px;
  font-weight: bold;
  border: solid 3px;
  border-radius: 35px;
  font-size: 18px;
  margin: 0 auto;
}

.link-to-apps__button {
  color: @white;
  border-color: @white;
}

.contest__button {
  border-radius: 3px;
  width: 276px;
  height: 55px;
  background-color: #2aab6d;
  border-color: #2aab6d;
  color: @white;
  text-transform: uppercase;
  font-family: "OpenSans", "Arial", sans-serif;
  margin-bottom: 50px;
}

@media (min-width: @tablet-width) {
  .link-to-apps__button {
    width: 270px;
    margin: 0;
    margin-left: 22px;
  }
}

@media (min-width: @desktop-width) {
  .link-to-apps__button {
    margin: 0;
    margin-left: 10px;
    font-size: @f-s-21;
    padding-top: 10px;
    padding-bottom: 14px;
  }
}
